*{
    
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Lora', serif;
}
.menu{
    margin-right: 20px;
    display: none;
}
/* -------------------------media query------------------------*/
@media only screen and (max-width:800px){
nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
nav ul{
    position:absolute;
    top: 90px;
    left: 0;
    height: auto;
    background: white;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
}
nav ul li a{
    color:blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu{
    display: block;
    cursor: pointer;
}

.inp, .btn-2{
    display: inline;
}
.col-2{
    margin-top: 90px;
}


}

@media only screen and (max-width:600px){
    .row , .row-1{
        text-align: center;
    }
    .col-2, .col-3, .col-4, .col-5{
        flex-basis: 100%;
    }
   
}
/*-------------------------------------------------for navigation bar--------------------------------------------------*/
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    position: fixed;
    background-color:white;
    width: 100%;
    top: 0;
}
nav{
    flex: 1;
    text-align: right;
}
 nav ul{
     display: inline-block;
     list-style-type: none;
 }
 .smlnav{
    display:inline-block;

    
}
 nav ul li{
     display: inline-block;
     margin: 20px;
 }
 nav ul a{
     display: inline-block;
     margin-right: 30px;
 }
 nav ul li a{
     background:none;
     transition: 0.5s;
 }
 nav ul li a:hover{
     background-color: #eec0c6;
     border-radius: 60px;
     background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);

 }
 a{
     text-decoration: none;
     color: #555;
 }
 p{
     color: #555;
 }
 .container{
     max-width: 1300px;
     margin: auto;
     padding-left: 25px;
     padding-right: 25px;
 }
 .row{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: space-around;
 }
 .row-1{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: space-around;
 }
 .col-2{
     flex-basis: 50%;
     min-width: 300px;

 }
 .col-2 img{
     max-width: 100%;
     padding: 50px 0;
    }
   
 .col-2 h1{
     
     font-size: 80px;
     line-height: 60px;
     margin: 164px 0;
     color: rgb(41, 224, 163);
     text-shadow: 4px 4px 8px #000000;
 }
 .paragraph{
     color: rgb(123, 107, 184);
 }

 .btn{
     display: inline-block;
     background: #4963d6;
     color: white;
     padding: 8px 30px;
     margin: 30px 0;
     border-radius: 30px;
     transition: background 0.5s;
 }
 .btn:hover{
     background: #36bd79;
 }
 .header{
     background: radial-gradient(#fff,#ffd6d6);
 }
 .header .row{
     margin-top: 70px;
 }
 .header .row-1{
     margin-top: 70px;
 }
 /*--------------------------------- search bar  ---------------------------------------------------------------------*/

.inp[type=text] {
    padding: 6px;
    margin-top: 2px;
    font-size: 17px;
    border: none;
    width:303px;
    border-radius: 60px;
    background-color: #f89b9e;
    background-image: linear-gradient(315deg, #f89b9e 0%, #afc3f3 74%);
  }
 .btn-2 {
    float:right;
    padding: 6px 10px;
    margin-top: 2px;
    margin-right: 16px;
    background: #ddd;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 60px;
  }
  .btn-2:hover {
    background: #ccc;
  }
 /*-----------------------------------------------------categories-------------------------------------------------------------*/
 .categories{
     margin: 70px 0;
     background-color: #21d190;
     background-image: linear-gradient(315deg, #21d190 0%, #d65bca 74%);
 }
 .top-brands{
     margin: 70px 0;
     background: radial-gradient(#fff,#ffd6d6);
 }
 .col-3 ,.col-5{
     flex-basis: 30%;
     min-width: 250px;
     margin-bottom: 30px;
     transition: transform 1s;
     box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
     cursor: pointer;

 }
 .col-3 img:hover{
    transform: translateY(-15px);
}
 .col-3 img{
     width: 100%;
 }
 .col-5 img{
     width: 25%;
 }
 .smallcontainer , .chotocontainer{
     max-width: 1080px;
     margin: auto;
     padding-left: 25px;
     padding-right: 25px;
 }
 .brands-name{
     text-align: center;
     background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    text-decoration: brown;
     font-size: 30px;
     padding-bottom: 25px;
     padding-top: 25px;
     cursor: pointer;
     margin: 20px 0;
 }
 /*-------------------------------------footer sections--------------------------------------------------------------------- */
.footer{
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
} 
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 170px;
}
h5{
    text-align: center;
    font-size: 30px;
    background: #4963d6;
    font-style: italic;
}
.shoescontainer{
    background: #afc3f3;
}

